@model List<WebApplication1.Models.Table>

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <center>
        <h2>
            <strong>PHARMACY MANAGEMENT SYSTEM</strong>
        </h2>
    </center>
</div>

<center>
    <h2>~~~ MEDICINE INVENTORY ~~~~</h2>
</center>
<br>
@foreach (var m in Model)
    {
        <div class="=row1">
            <div class="column1">
                <div class="card">
                    <h1>@m.name</h1>
                    <p class="price">Rs. @m.price /-</p>
                    <p><b>Type: </b>@m.catagory</p>
                    <p><b>Description: </b>@m.description</p>
                    <form action="/Home/Edit" method="post">
                        <input type="hidden" name="id" value="@m.id" />
                        <input type="hidden" name="cat" value="@m.catagory" />
                        <input type="submit" value="EDIT" style="width: 100px; height: 50px;background: black;border: 1px solid #fff; color: white;font-size: 16px;" />
                    </form>
                </div>
            </div>
        </div>
    }